<form action="/eval" method="GET" onsubmit="return validate(event)">
  <h1 class="search-head">Find and rate a film</h1>
  <div class="search-bar">
    <label for="search">Title and year:</label>
    <input type="text" name="search" required>
    <button type="submit">Let's try</button>
  </div>
</form>


<script>
  function validate(event) {
    event.target.elements.search.value = event.target.elements.search.value.toLowerCase().trimEnd()

    let inputRGEX = /[a-zA-Zа-яА-Яі0-9-.\&]$/gi
    if (inputRGEX.test(event.target.elements.search.value)) return true;
    return false;
  }
</script>