<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="main-container">
    <div class="error-wrapper">
      <div>
        <h1><%= errHead %></h1>
        <p><%= errMsg %></p>
        &#8592;&nbsp;<a href='/'>back to main page</a>
      </div>
    </div>
  </div>
</body>
</head>