<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h2><%= personItem.name %></h2>
    <img alt="" src="<%= personItem.sPhoto %>">
    
  </body>
</html>