// Color variables
$light-1: #fff9b2;
$light-2: #ffc684;
$light-3: #d8e1f0;
$light-4: #ffefcc;
$light-5: #ffdc2f;
$light-6: #efcfff;
$light-7: #eee;

$medium-1: #ccc;

$dark-1: #249;
$dark-2: #c34;
$dark-3: #37d;
$dark-4: #d55;
$dark-5: #f17825;
$dark-6: #2d1007;
$dark-7: #46a;
$dark-8: #111;

$active: #2f7fff;
$hover: $active;
$visited: $dark-1;

$error: #992222;
$success: #226633;

// Font size variables
$font-size-base: 0.9rem;
$font-size-large: 1.125rem;
$font-size-medium: 1rem;
$font-size-small: 0.7rem;
