@use 'sass:math';
@import "colors";

@mixin general-page-parts($bg-color, $scale) {
  body {
    padding: 0;
    margin: 0;
    font-size: math.min(2rem, 2rem*$scale);
    font-family: Impact, "Century Gothic", "Apple Gothic", Arial, sans-serif;
    background: #fff;
    align-items: center;
  }
  img {
    display: block;
  }
  a {
    color: $dark-1;
    text-decoration: none;
    background: transparent;
    & :hover {
      color: $hover;
      background: transparent;
    }
    & :focus {
      color: $hover;
      background: transparent;
    }
    & :active {
      color: $active;
      text-decoration: underline;
      background: transparent;
    }
    & :visited {
      color: $visited;
      background: transparent;
    }
  }
  h1 {
    margin: 0;
    font-size: math.min(2.5rem, 2.5rem*$scale);
  }
  h2 {
    font-size: math.min(2.3rem, 2.3rem*$scale);
    margin: 0;
  }
  h3 {
    margin-bottom: 2rem;
    font-size: math.min(2.2rem, 2.2rem*$scale);
    opacity: 0.9;
  }

  .search-head {
    display: block;
    color: $dark-6;
    opacity: 0.8;
    margin: 0 0 2.5rem 1.5rem;
    font-style: italic;
  }
  .search-bar {
    display: flex;
    align-items: stretch;
    justify-content: left;
    max-width: 80rem;
    height: math.min(3.5rem, 3.5rem*$scale);
    label {
      display: inline;
      align-items: center;
      padding: 0.5rem 0 0 0.5rem;
      text-align: right;
      font-size: math.min(2rem, 2rem*$scale);
      opacity: 0.7;
      font-weight: 500;
      width: 24%;
      min-width: 15rem;
    }
    input {
      display: inline;
      width: 56%;
      background: $light-3;
      padding: 1rem 1rem;
      margin: 0 math.min(2rem, 2rem*$scale);
      font-size: math.min(2.1rem, 2.1rem*$scale);
      opacity: 0.8;
      border: 0;
      border-left: 2px solid $dark-1;
      border-top: 2px solid $dark-1;
      box-sizing: border-box;
      outline: none;
      &:focus {
        border: 3px solid $active;
        border-radius: 3px;
      }
    }
    button {
      display: inline;
      width: 20%;
      min-width: 10rem;
      border: 0;
      border-radius: 2px;
      margin-right: 0.5rem;
      background: $dark-1;
      color: #fff;
      opacity: 0.8;
      font-size: math.min(1.8rem, 1.8rem*$scale);
      font-weight: 500;
    }

  }

  .sort-bar {
    line-height: 1.7;
    font-size: math.min(1.8rem, 1.8rem*$scale);
    padding: 0 0 1rem 0.1rem;
    background: #fff;
    opacity: 0.8;
    border-bottom: 1px solid #444;
    margin-bottom: 2.5rem;
    a {
      display: inline-block;
      padding: 0 0.7rem;
      margin-right: 0 1rem;
    }
  }
  .sortselected {
    font-weight: bold;
    background: $light-3;
    border-radius: 4px;
  }

  .chart-line {
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
    .chart-key {
      display: inline-block;
      line-height: 0.9;
      padding: 0 1rem;
      opacity: 0.8;
    }
    .chart-bar {
      display: inline-block;
      min-width: fit-content;
      font-size: 1.6rem*$scale;
      text-align: right;
      font-weight: bold;
      color: #fff;
      background: $dark-5;
      border-radius: 3px;
      opacity: 0.8;
      padding: 0.1rem 0.2rem;
    }
    .chart-addition {
      font-style: italic;
      font-size: 1.8rem*$scale;
      opacity: 0.7;
      margin: 0;
      padding: 0 0.5rem 0 1rem;
    }
  }
  .decade-chart {
    .chart-key {
      font-size: math.min(2rem, 2rem*$scale);
      min-width: 6rem*$scale;
      width: 6rem*$scale;
      text-align: center;
    }
  }
  .year-chart {
    .chart-key {
      padding: 0 1.5rem;
    }
    .chart-bar {
      background: $dark-4;
    }
  }
  .genre-chart {
    .chart-key {
      font-size: math.min(1.9rem, 1.9rem*$scale);
      min-width: 10rem*$scale;
      width: 10rem*$scale;
      text-align: right;
    }
    .chart-bar {
      background: #949;
    }
  }

  .country-chart {
    .chart-key {
      font-size: math.min(1.8rem, 1.8rem*$scale);
      min-width: math.max(9rem, 9rem*$scale);
      width: math.max(9rem, 9rem*$scale);
      text-align: center;
    }
    .chart-bar {
      background: #484;
    }
  }
  .director-chart {
    max-width: 65rem;
    font-size: math.min(2rem, 2rem*$scale);
    .ord {
      text-align: right;
      min-width: math.max(3.1rem, 3.1rem*$scale);
      padding-left: math.max(1.5rem, 1.5rem*$scale);
    }
    .chart-key {
      min-width: 12rem;
      width: 60%;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid;
    }
  }

  .person-data {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    width: 20%;
    min-width: 10rem;
    .person-quant {
      color: $dark-3;
    }
    .person-rank {
      color: $dark-4;
    }
  }

  a[href*="filtermode"] {
    font-size: math.min(2rem, 2rem*$scale);
    background: $dark-3;
    color: #fff;
    opacity: 0.7;
    padding: 0.1rem 1rem;
    border-radius: 5px;
  }

  .current-filter {
    margin: 2rem 0 3rem;
    font-size: 2.2rem*$scale;
    a {
      margin: 0 0.5rem 0;
    }
    a[href*="filter"] {
      background: $dark-4;
      margin-left: 0.5rem;
      padding: 0.3rem 0.8rem;
    }
  }
  .fitler-table-wrapper {
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
    column-gap: 1.7rem*$scale;
    flex-flow: wrap;
    margin: 1rem -0.5rem 2rem;
    font-size: 1.9rem*$scale;
    a {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
    #favorFilter {
      margin-left: auto;
      font-weight: bold;
    }
  }

  .section {
    display:block;
    border: 2px solid $dark-2;
    background: $light-1;
    padding: 0.7rem 0.7rem 1.5rem;
    margin: 1rem 0 1.5rem;
    overflow: hidden;
  }
}

@mixin result-msg-page($bg-color: #555) {
  margin: 5rem auto;
  padding: 3rem;
  width: 45rem;
  height: fit-content;
  background: $bg-color;
  text-align: center;
  align-items: center;
  div {
    padding: 3rem;
    border: 10px solid #fff;
    color: #fff;
    h1 {
      font-size: 3.5rem;
      margin: 0;
      padding: 0rem;
    }
    p {
      font-size: 2.5rem;
      font-weight: 500;
    }
    a {
      font-size: 2.2rem;
      font-weight: 500;
      color: #fff;
      border-bottom: 4px solid;
    }
  }
}

.error-wrapper {
  @include result-msg-page($error);
}
.success-wrapper {
  @include result-msg-page($success);
}

@mixin manage-section($is-opened: false, $display: none) {
  @extend .section;
  .title-section {
    padding: inherit;
  }
  .handle-section {
    font-weight: bold;
    padding: 8px 0 12px 20px;
    opacity: 0.9;
    border-radius: 2px;
    color: $light-1;
    @if $is-opened {
      &:before {
        content: "\2329 \00a0 \00a0 Collapse";
      }
      background: $dark-2;
      border: 2px solid $dark-2;
      &:active {
        color: $dark-2;
        background: #fff;
      }
    } @else {
      &:before {
        content: "\232A \00a0 \00a0 Expand";
      }
      background: $dark-1;
      border: 2px solid $dark-1;
      &:active {
        color: $dark-1;
        background: #fff;
      }
    }
  }
  .content-section {
    display: $display;
    background: #fff;
    margin: 20px 0 10px 0;
    padding: 1.5rem;
  }
}

.section-closed {
  @include manage-section(false, none);
}

.section-opened {
  @include manage-section(true, block);
}

@mixin main-container($margin-vert, $margin-horiz, $padding-vert, $padding-horiz) {
  .main-container {
    background: #fff;
    margin: $margin-vert $margin-horiz;
    padding: $padding-vert $padding-horiz;
    min-width: 30rem;
    max-width: 90rem;

  }
  nav {
    font-weight: 500;
    opacity: 0.9;
    margin: 0 auto 3rem -1rem;
    a {
      font-size: 2rem;
      border-bottom: 2px solid;
      padding-bottom: 0.2rem;
    }
  }
}

@mixin fav-button($scale: 1) {
  button {
    display: block;
    font-size: 1.7rem*$scale;
    border: 0;
    border-radius: 50%;
    margin: 0 auto auto;
    width: 4rem*$scale;
    height: 4rem*$scale;
  }
  .fav-button {
    font-weight: bold;
    background: $light-5;
  }
  .add-fav-button {
    font-size: 1.6rem*$scale;
    line-height: 0.8;
    border: 1px solid #fff;
    background: inherit;
    color: #ddd;
    padding-bottom: 0.6rem;
  }
}
@mixin rating($scale: 1) {
  .rating {
    text-align: center;
    font-size: 2.2rem*$scale;
    font-weight: bold;
    padding: 0.3rem 2rem;

    min-width: fit-content;
    width: 3rem*$scale;
    background: $light-5;
    color: #000;
    border-radius: 7px;
  }

  .change-rating {
    display: none;
    text-align: right;
    margin-bottom: auto;
    select {
      padding: 0.1rem 1.5rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      font-size: 1.6rem*$scale;
      background: #fff;
    }
    button {
      padding: 0.3rem 0.7rem;
      font-size: 1.7rem*$scale;
      font-weight: bold;
      opacity: 0.9;
      border: 0;
      border-radius: 4px;
      background: $light-2;
      box-shadow: 3px 2px 5px $dark-4;
    }
  }
}
@mixin table-container($scale: 1) {
  .table-container {
    background: #fff;
    max-width: 75rem;
    margin: 3rem auto;
    padding: 0;
    .row {
      display: flex;
      flex-direction: row;
      font-size: 1.7rem*$scale;
      background: #111;
      color: #fff;
      border: 0;
      border-radius: 3px;
      margin: 2rem -2rem;
      padding: 0.5rem 0;
      align-items: stretch;
    }
    .row-section {
      display: flex;
      flex-direction: column;
    }
    .row-subsection {
      padding: 0.6rem 0;
    }

    .col-order-fav {
      width: 10%;
      text-align: center;
      .ord {
        margin-bottom: auto;
      }
      @include fav-button($scale);
    }

    .col-poster-dur {
      width: 19%;
      position: relative;
      img {
        width: 100%;
        max-width: 15rem;
        margin: 0 auto;
      }
      div {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0.8;
        color: yellow;
        font-size: 1.8rem*$scale;
        margin: 0;
        padding: 0 0.7rem 0.2rem;
      }
    }

    .col-title {
      width: 39%;
      div {
        padding-left: 1.4rem;
        padding-right: 1rem;
        font-size: 2.2rem*$scale;
        color: $light-1;
      }
      .orig-title {
        font-size: 2rem*$scale;
        color: #fff;
      }
    }

    .col-year-imdb {
      width: 15%;
      text-align: center;
      color: $light-1;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      div {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }
      .year {
        margin-bottom: auto;
        color: cyan;
        opacity: 0.9;
        font-size: 2.2rem*$scale;
      }
      .type {
        margin-top: auto;
      }
    }

    .col-user-rating {
      width: 17%;
      div {
        margin: 0.5rem 0.7rem 0 auto;
      }

      .datetime {
        font-size: 1.5rem*$scale;
        text-align: right;
        margin-top: 1rem;
        padding: 0.4rem 0 0 0;
        border-top: 1px solid $light-1;
      }
      @include rating($scale);
    }
  }
}
@mixin actor-wrapper($scale: 1) {
  .actor-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 1.5rem*$scale;
    margin: 0;
    padding: -1+$scale;
    .actor-item {
      display: flex;
      flex-direction: column;
      background: $light-1;
      box-shadow: 8px 10px 14px $dark-5;
      text-align: center;
      min-width: 11.5rem;
      width: 11.5rem;
      padding: 0.5rem 0.4rem;
      .top-line {
        padding: 0.3rem 0.2rem;
        border-radius: 4px;
        margin: 0.2rem 0.5rem 0.5rem;
        background: #fff;
        font-size: 1.6rem;
      }
      .mid-line {
        img {
          display: block;
          border-radius: 4px;
          margin-left: auto;
          margin-right: auto;
          width: 90%
        }
        div {
          margin: 0.4rem 0.2rem 0.5rem;
          border-radius: 5px;
          font-size: 1.7rem;
          font-weight: bold;
          opacity: 0.8;
        }
      }
      .person-data {
        margin: auto auto 0.2rem auto;
        padding: 0.3rem auto;
        text-align: center;
        background: #fff;
        border-radius: 4px;
      }
    }
  }
}
.external-mark {
  display: inline-block;
  margin-top: -1rem;
  font-size: 2rem;
}
@mixin film-page($scale: 1) {
  .film-wrapper {
    display: flex;
    flex-flow: column;
    margin: 1rem auto 4rem;
    padding: 1rem*$scale 2rem*$scale 2rem*$scale;
    max-width: 80rem;
    .film-headline {
      display: flex;
      flex-direction: row;
      gap: 0;
      align-items: center;
      padding: 0.4rem 1rem 0.4rem 1.5rem;
      background: $dark-8;
      color: $light-1;
      border:2px solid $dark-8;
      .film-imdb {
        width: 35%;
        text-align: left;
        margin-right: 3rem;
      }
      .film-cert {
        text-align: left;
        margin-right: 3rem;
      }
      .favor {
        margin-left: auto;
        @include fav-button($scale*1.1);
      }
    }
    .film-basic-info {
      display: flex;
      flex-direction: row;
      .film-img-eval-wrap {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: fit-content;
        margin: 0;
        padding: 0 1.5rem 1rem;
        background: $dark-8;
        color: #fff;
        border:2px solid $dark-8;
        img {
          width: 100%;
          max-width: 40rem;
          margin-bottom: auto;
        }
        .eval-wrapper {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1.5rem 0 auto;
        }
        @include rating($scale*1.2);
        .rating {
          font-weight: 600;
          font-size: 3rem;
          margin: 0 auto auto auto;
          padding: 0rem 1rem 0.2rem;
        }

        .change-wrap {
          display: none;
          flex-direction: column;
          margin: 1.5rem auto 0;
          padding: 1.5rem 1rem;
          border: 2px dashed #ccc;
          text-align: center;
          font-size: 2rem;

          select {
            text-align: center;
            font-size: 2.3rem;
            padding: 0.3rem 2.5rem;
            font-weight: bold;
            margin: 0;
          }
          button {
            margin: 0 auto;
            opacity: 1;
          }
          button.change {
            background: $dark-4;
            color: #fff;
            box-shadow: none;
            padding: 0.7rem 0.5rem;
            margin-top: 1.5rem;
          }
          button.remove {
            background: #fff;
            color: red;
            box-shadow: none;
            border: 3px solid red;
            padding: 0.2rem 0.5rem 0.3rem;
            margin-top: 5rem;
          }
        }
      }
      .date {
        margin: 2rem auto 0;
        padding: 1rem 0 0.1rem;
        border-top: 2px solid #ccc;
        font-weight: 400;
      }
    }
    .film-descr {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem 0 1rem 1.7rem;
      width: 60%;
      font-size: 2rem;
      font-weight: 400;
      opacity: 0.9;
      .film-comm-title {
        text-indent: 2;
        font-size: 2.3rem;
        font-weight: bold;
        padding: 0 0 1rem;
        a {
          color: $dark-3;
        }
      }
      .film-orig-title {
        font-size: 2.2rem;
        font-weight: bold;
        background: $medium-1;
        padding: 0.5rem 1rem;
        margin: -1rem 0 1.5rem;
      }
      .world {
        padding: 0.3rem 0 0.3rem 0.7rem;
        font-weight: 500;
        opacity: 0.8;
      }
      .film-genre {
        border-left: 7px solid purple;
      }
      .film-country {
        border-left: 7px solid green;
      }
      .film-plot {
        padding: 1rem 0;
        font-style: italic;
      }
      .film-budget {
        padding: 0.3rem 0 0.3rem 0.7rem;
        border-left: 7px solid $dark-4;
      }
      .film-grossww {
        padding: 0.3rem 0 0.3rem 0.7rem;
        border-left: 7px solid $dark-7;
      }
    }
    h1 {
      margin: 3.5rem 0 0.5rem;
      opacity: 0.8;
    }
    .film-director {
      display: flex;
      flex-flow: wrap;
      gap:2rem;
      font-size: 2.2rem;
      font-weight: 500;
      padding: 1.5rem;
      background: $medium-1;
      a {
        display: inline-block;
        background: #fff;
        box-shadow: 5px 5px 7px #888;
        padding: 1rem 1.5rem;
      }
    }
    .film-cast {
      display: flex;
      flex-flow: wrap;
      gap: 1.5rem;
      justify-content: center;
      padding: 1.5rem;
      background: $medium-1;
      .role-item {
        display: flex;
        flex-flow: column;
        gap:0.5rem;
        background: #fff;
        box-shadow: 7px 7px 7px #888;
        padding: 1rem;
        width: 15rem;
        text-align: center;
        img {
          display: block;
          margin: 0 auto auto;
          border-radius: 50%;
          width: 90%;
        }
        .cast-name {
          font-weight: bold;
          margin: auto auto 0;
          .cast-character {
            font-size: 1.8rem;
            font-weight: bold;
            opacity: 0.6;
            margin: auto auto 0;
            padding: 0.7rem 0 0;
          }
        }
      }
    }
  }
}
@mixin person-page($scale: 1) {
  .person-wrapper {
    display: flex;
    flex-flow: column;
    margin: 1rem auto 4rem;
    padding: 1rem*$scale 2rem*$scale 2rem*$scale;
    max-width: 80rem;
    width: 100%;
    background: #fff;
    .person-basic-info {
      display: flex;
      flex-flow: row;
      border: 1.5rem solid $medium-1;
      padding: 1.5rem;
      background: #fff;
      .person-img-wrap {
        display: flex;
        flex-direction: column;
        img {
          box-shadow: 5px 5px 10px #666;
          width: 40rem;
          max-width: 15rem;
          margin: auto;
        }
      }
      .person-descr {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem 0 1rem 2rem;
        width: 60%;
        font-size: math.min(2rem, 2rem*$scale);
        font-weight: 400;
        opacity: 0.9;
        .person-name {
          text-indent: 2;
          font-size: math.min(2.4rem, 2.4rem*$scale);
          font-weight: bold;
          padding: 0 0 1rem;
          a {
            color: $dark-3;
          }
        }
        .person-occup {
          font-size: math.min(2.3rem, 2.3rem*$scale);
          opacity: 0.8;
        }
      }
    }
    h1 {
      margin: 3.5rem 0 0.5rem;
      opacity: 0.8;
    }
    .summary {
      margin: 0;
      padding: 1.5rem;
      font-size: math.min(2.2rem, 2.2rem*$scale);
      background: $medium-1;
    }
    table {
      text-align: center;
      vertical-align: center;
      td {
        padding: 0.2rem 0.5rem;
      }
      tr:nth-child(even) {
        background-color: #eee;
      }
      td:first-child {
        width: 8%;
      }
      td:nth-child(2) {
        text-align: left;
        width: 57%;
        font-size: math.min(2.1rem, 2.1rem*$scale);
      }
      td:nth-child(3) {
        width: 25%;
      }
      td:last-child {
        width: 10%;
        font-size:math.min(2.4rem, 2.4rem*$scale);
        font-weight: 500;
      }
    }
    .person-table-played {}
    .person-table-director {}
  }
}
@mixin eval-page($scale: 1) {
  .eval-container {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 1rem*$scale 2rem*$scale;
    text-align: left;
    vertical-align: center;
    .eval-film-item {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 1rem;
      margin: 0 auto;
      max-width: 70rem;
      height: 12rem;
      max-height: fit-content;
      align-items: center;
      border: 2px solid #555;
      border-radius: 20px;
      img {
        // width: 18%;
        max-width: 10rem;
        height: 100%;
        margin: 0 auto;
      }
      a {
        width: 50%;
        margin-right: auto;
        padding: 0 0 1rem;
        font-size: math.min(2.1rem, 2.1rem*$scale);
        font-weight: bold;
        opacity: 0.9;
      }
      i {
        width: 30%;
        margin-left: auto;
      }
    }
    #searchResult {
      margin: 0 auto 1.5rem;
      background: #eee;
    }
    #selectedFilm {
      display: none;
      background: $light-1;
      border-color: #d21;
    }
    #searchResult:hover {
      background: $light-1;
    }
    #evalBar {
      display: none;
      flex-direction: row;
      gap: 1rem;
      padding: 1rem 0 1.5rem;
      margin: 0 auto 4rem;
      width: fit-content;
      justify-content: center;
      align-items: center;
      border-bottom: 3px solid #999;
      label {
        font-size: math.min(2.1rem, 2.1rem*$scale);
        font-style: normal;
        border-radius: 5px;
        font-weight: 500;
      }
      select {
        text-align: center;
        font-size: math.min(2.1rem, 2.1rem*$scale);
        padding: 0.3rem 2.5rem 0.4rem;
        margin: 0 1.5rem 0 1rem;
        background: #fff;
        border-radius: 5px;
        font-weight: 500;
      }
      button {
        opacity: 1;
        border: 0;
        font-size: math.min(2rem, 2rem*$scale);
        background: $dark-4;
        color: #fff;
        padding: 0.6rem 1.5rem;
        height:100%;
        border-radius: 5px;
        font-weight: 600;
      }
    }
  }
}
@media screen and (min-width: 260px) {
  $scale: 0.6;
  @include general-page-parts(#fff, $scale);
  @include main-container(1.2rem, auto, 1.3rem, 0.6rem);
  @include table-container($scale);
  @include actor-wrapper($scale);
  @include film-page($scale);
  @include person-page($scale);
  @include eval-page($scale);
}

@media screen and (min-width: 960px) {
  $scale: 1;
  @include general-page-parts(#fff, $scale);
  @include main-container(1.5rem, auto, 2rem, 1rem);
  @include table-container($scale);
  @include actor-wrapper($scale);
  @include film-page($scale);
  @include person-page($scale);
  @include eval-page($scale);
}

@media screen and (min-width: 1080px) {
  $scale: 1.2;
  @include general-page-parts($dark-7, $scale);
  @include main-container(1.7rem, auto, 3rem, 1.5rem);
  @include table-container($scale);
  @include actor-wrapper($scale);
  @include film-page($scale);
  @include person-page($scale);
  @include eval-page($scale);
}

@media screen and (min-width: 2400px) {
  $scale: 1.4;
  @include general-page-parts($dark-7, $scale);
  @include main-container(2rem, auto, 4rem, 3rem);
  @include table-container($scale);
  @include actor-wrapper($scale);
  @include film-page($scale);
  @include person-page($scale);
  @include eval-page($scale);
}