<div class="sort-bar">
  <b>Sort by:&nbsp;</b>
  <a href="<%= sortquery+SortMode.KEY_ASC %>">From past</a> |
  <a href="<%= sortquery+SortMode.KEY_DESC %>">From now</a> |
  <a href="<%= sortquery+SortMode.QUANTITY_ASC %>">Quantity up</a> |
  <a href="<%= sortquery+SortMode.QUANTITY_DESC %>">Quantity down</a>
</div>