@use "../decor" as decor;

@mixin actor-wrapper($scale: 1) {
  .actor-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 1.5rem*$scale;
    margin: 0;
    padding: -1+$scale;
    .actor-item {
      display: flex;
      flex-direction: column;
      background: decor.$light-1;
      box-shadow: 8px 10px 14px decor.$dark-5;
      text-align: center;
      min-width: 7rem;
      width: 7rem;
      padding: 0.3rem 0.2rem;
      .top-line {
        padding: 0.3rem 0.2rem;
        border-radius: 4px;
        margin: 0.2rem 0.5rem 0.5rem;
        background: decor.$light-0;
        font-size: decor.$font-size-base;
      }
      .mid-line {
        img {
          display: block;
          border-radius: 4px;
          margin-left: auto;
          margin-right: auto;
          width: 90%
        }
        div {
          margin: 0.4rem 0.2rem 0.5rem;
          border-radius: 5px;
          font-size: decor.$font-size-base;
          font-weight: bold;
        }
      }
      .person-data {
        margin: auto auto 0.2rem auto;
        padding: 0.3rem auto;
        text-align: center;
        background: decor.$light-0;
        border-radius: 4px;
      }
    }
  }
}