@use "../decor" as decor;

@mixin fav-button($scale: 1) {

  img {
    border: 1px solid cyan;
    display: flex;
    margin: 0;
    width: 2rem;
    height: 2rem;

  }

  .add-fav-button {
    font-size: 1.6rem*$scale;
    line-height: 0.8;
    border: 1px solid #fff;
    background: inherit;
    color: #ddd;
    padding-bottom: 0.6rem;
  }
}