@use "sass:math";
@use "../decor" as decor;

@mixin general-page-parts($bg-color, $scale) {
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: decor.$font-size-base*$scale;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-image: url("/bg-img-1.png");
    background-repeat: repeat;
    background-size: contain;
    box-sizing: border-box;
    opacity: 0.9;
  }

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.5rem 2rem;
    gap: 1rem;
    background: decor.$dark-9;
    color: decor.$light-0;

    div#main-logo {
      margin: 0.3rem 0;
      padding: 0;

      img {
        display: block;
        margin: 0;
        padding: 0;
        height: 2.3rem;
      }
    }

    div#profile-wrapper {
      #user-profile {
        position: relative;

        summary {
          list-style: none;
          cursor: pointer;

          img {
            display: block;
            border-radius: 50%;
            width: 2rem*$scale;
            height: 2rem*$scale;
          }
        }

        div#user-credentials {
          position: absolute;
          top: 10;
          right: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          margin: 0.5rem 0 0 0;
          padding: 1rem*$scale 1.5rem*$scale;
          min-width: 5rem;
          background: decor.$dark-0;
          color: decor.$light-0;
          letter-spacing: 1.5px;
          box-shadow: 5px 5px 10px decor.$dark-8;

          .user-data {
            color: decor.$light-5;
          }

          .signout-wrapper {
            margin-top: 0.5rem;
            padding-top: 0.5rem;
            border-top: 1px solid decor.$medium-3;

            .signout {
              display: block;
              text-align: left;
              color: decor.$light-link;
              font-weight: 500;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .tab-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.3rem 0 0.5rem;
    padding: 0 0.5rem;
    font-size: decor.$font-size-medium*$scale;

    span {
      margin: 0 0.5rem 0.2rem 0;
      display: inline-block;
      color: decor.$light-0;
      text-shadow: 2px 2px 4px decor.$dark-7;
      font-weight: bold;
      font-style: italic;
      font-size: decor.$font-size-large*$scale;
      font-variant: small-caps;
    }

    button.tab-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 0.7rem 0.1rem;
      height: 2rem*$scale;
      border: 0;
      border-radius: 5px;
      background: decor.$dark-10;
      color: decor.$light-0;
      box-shadow: 1px 1px 2px decor.$dark-7;
      text-shadow: 0.5px 0.5px 1px;
      font-family: inherit;
      font-size: inherit;

      &:hover {
        color: decor.$dark-7;
        background: decor.$light-0;
      }
    }

    button.tab-button-selected {
      color: decor.$dark-7;
      background: decor.$light-0;
    }

  }

  button,
  select,
  a {
    text-align: center;
    cursor: pointer;
  }

  h2.category {
    color: decor.$light-5;
  }

  .nav-bar-label {
    margin: 0 0.5rem 0 0;
    color: decor.$light-0;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    font-size: decor.$font-size-medium*$scale;
  }

  .empty-result {
    margin: 1rem 1rem;
    padding: 0.5rem 3rem 0.7rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 1px dashed;
    border-radius: 10px;
    color: decor.$dark-4;
    font-size: decor.$font-size-large*$scale;
    font-weight: 500;
    font-style: italic;
  }

  #main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: auto 0 0 0;
    padding: 1rem 1rem;
    background: decor.$dark-9;
    color: decor.$light-0;

    img {
      display: inline-block;
      height: 3rem;
    }
  }

  .message {
    margin: 0 auto;
    padding: 0;
    color: decor.$error-lt;
    text-shadow: 0.5px 0.5px 1px decor.$error;
    // font-weight: bold;
  }

  img {
    display: block;
  }

  .disabled {
    opacity: 0.4;
  }

  h1 {
    margin: 0;
    font-size: decor.$font-size-large*$scale;
  }

  h2 {
    margin: 0;
    font-size: decor.$font-size-large*$scale;
    font-variant: small-caps;
  }

  h3 {
    margin: 0;
    font-size: decor.$font-size-base*$scale;
    font-variant: small-caps;
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    .loader {
      width: 80px;
      height: 80px;
      border: 10px solid decor.$dark-8;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    .loader::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 10px solid;
      border-color: decor.$light-5 transparent;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  .loader-wrapper-inner {
    .loader {
      border: 10px solid decor.$dark-4;
    }

    .loader::after {
      border-color: decor.$light-4 transparent;
    }
  }

  .auth-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem 2rem 1rem;
    margin: 3rem auto;
    width: 15rem;
    background: decor.$dark-9;
    opacity: 0.9;
    border-radius: 10px;
    font-size: decor.$font-size-medium;

    h2 {
      margin: 0;
      padding: 0;
      color: decor.$light-5;
      font-variant: small-caps;
    }

    input {
      display: block;
      padding: 8px 20px;
      margin: 0;
      width: 80%;
      border-radius: 5px;
      border: 0;
      font-family: inherit;
      font-size: inherit;
    }

    label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-align: left;
      margin: -0.5rem 0 0;
      padding: 0;
      width: 100%;
      color: decor.$light-0;

      input.show-pass {
        width: fit-content;
        margin: 0;
        padding: 0;
      }

      span {
        display: inline-block;
        padding: 0;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px;
      margin: 0;
      width: 50%;
      border-radius: 30px;
      border: 2px solid decor.$light-5;
      background: decor.$dark-8;
      color: decor.$light-5;
      font-family: inherit;
      font-size: decor.$font-size-medium*$scale;
      font-weight: bold;

      &:hover {
        background: decor.$light-5;
        color: decor.$dark-8;
      }
    }

    a {
      padding: 0 0 0.3rem;
      color: decor.$light-4;
      font-weight: 500;
    }
  }

  .search-form-wrapper {
    margin-bottom: -2rem;
    overflow: visible;

    h1.search-head {
      display: block;
      width: fit-content;
      box-sizing: border-box;
      max-width: 60rem;
      margin: 0 auto 0 5rem;
      padding: 0 2rem 1rem;
      color: decor.$light-5;
      font-style: italic;
      font-variant: small-caps;
    }

    .search-bar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 60rem;
      margin: 0 auto;

      input {
        display: block;
        width: 40%;
        height: 2rem*$scale;
        background: decor.$light-0;
        padding: 0.5rem 1rem;
        margin: 0 1rem 0 0;
        border: 0;
        border-left: 2px solid decor.$dark-1;
        border-top: 2px solid decor.$dark-1;
        box-sizing: border-box;
        border-radius: 3px;
        font-size: decor.$font-size-medium*$scale;
        font-style: inherit;
        outline: none;

        &:focus {
          border: 3px solid decor.$dark-5;
          border-radius: 3px;
        }
      }

      button {
        display: block;
        width: fit-content;
        height: 2rem*$scale;
        padding: 0 1.3rem*$scale;
        box-sizing: border-box;
        border: 2px solid decor.$light-0;
        border-radius: 5px;
        background: decor.$dark-2;
        color: decor.$light-0;
        font-size: decor.$font-size-medium*$scale;
        font-weight: bold;

        &:hover {
          background: decor.$dark-5;
        }
      }

    }
  }

  .sort-bar {
    padding: 0 0 0.7rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid decor.$medium-1;
    background: transparent;
    font-size: decor.$font-size-medium*$scale;
    font-weight: 500;

    a.sort-item {
      display: inline-block;
      align-content: center;
      height: 1.5rem*$scale;
      padding: 0 0.4rem 0.1rem;
      margin: 0 0.3rem;
      color: decor.$light-link;

      &:hover {
        border-radius: 5px;
        background: decor.$light-link;
        color: decor.$dark-0;
        text-decoration: none;
      }
    }

    a.sort-item-selected {
      border-radius: 5px;
      background: decor.$light-link;
      color: decor.$dark-0;
      text-decoration: none;
    }
  }

  .stat-container {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 0.5rem;
    min-width: fit-content;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background: decor.$dark-10;
    font-size: decor.$font-size-base*$scale;

    h2.category {
      margin: 0 0 0.5rem*$scale 0;
    }

    .stat-settings-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      height: fit-content;
      margin-top: -1rem;

      .threshold-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-style: italic;

        span {
          display: inline-block;
          flex-wrap: wrap;
          text-align: right;
          font-size: decor.$font-size-medium*$scale;
          color: decor.$light-4;
          line-height: 0.9rem;
        }

        select {
          margin: 0;
          padding: 0.1rem 0.3rem;
          height: fit-content;
          border: 1px solid decor.$light-4;
          border-radius: 5px;
          background: transparent;
          color: decor.$light-4;
          font-size: decor.$font-size-medium*$scale;
          font-weight: 500;

          option {
            background: decor.$dark-8;
          }

          option.standart-options {
            color: decor.$dark-4;
            font-weight: 800;
          }
        }
      }

      .view-list-mode-wrapper {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        justify-content: space-between;
        align-self: center;
        padding: 0.2rem 0.2rem;

        button {
          display: block;
          width: 1.2rem*$scale;
          height: 1.2rem*$scale;
          border: 0;
          border-radius: 1px;
          background: transparent;
          background-repeat: no-repeat;
          background-size: contain;
          align-items: center;
          box-sizing: border-box;
        }

        button.tiles-view-mode {
          background-image: url("/view-list-tiles.png");

          &:hover {
            background-image: url("/view-list-tiles-hover.png");
          }
        }

        button.tiles-view-mode-active {
          background-image: url("/view-list-tiles-hover.png");
        }

        button.table-view-mode {
          background-image: url("/view-list-table.png");

          &:hover {
            background-image: url("/view-list-table-hover.png");
          }
        }

        button.table-view-mode-active {
          background-image: url("/view-list-table-hover.png");
        }
      }
    }

    .chart-line {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 1.5rem*$scale;
      align-items: center;
      margin: 0;
      box-sizing: border-box;

      .chart-key {
        display: inline-block;
        padding: 0 0.5rem;
        width: 8rem*$scale;
        min-width: 8rem*$scale;
        text-align: right;
        box-sizing: border-box;
        line-height: 0.9;
        font-size: decor.$font-size-medium*$scale;
      }

      .chart-bar {
        display: inline-block;
        font-size: decor.$font-size-base*$scale;
        text-align: right;
        font-weight: bold;
        color: decor.$light-0;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 0.1rem 0.2rem;
        min-width: fit-content;
      }

      .chart-addition {
        display: inline-block;
        font-style: italic;
        font-size: decor.$font-size-base*$scale;
        margin: 0;
        padding: 0 0.5rem;
        box-sizing: border-box;
      }
    }

    .genre-chart {
      .chart-bar {
        background: decor.$color-genre;
      }
    }

    .country-chart {
      .chart-bar {
        background: decor.$color-country;
      }
    }

    .language-chart {
      .chart-bar {
        background: decor.$color-lang;
        color: decor.$dark-8;
      }
    }

    .decade-chart {
      .chart-key {
        width: 6.5rem*$scale;
        min-width: 6.5rem*$scale;
        text-align: center;
      }

      .chart-bar {
        background: decor.$color-decade;
      }
    }

    .year-chart {
      .chart-key {
        width: 5rem*$scale;
        min-width: 5rem*$scale;
        text-align: center;
      }

      .chart-bar {
        background: decor.$color-year;
      }
    }

    .person-stat-list-table {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
      min-width: 60%;
      margin: 1rem auto;
      font-size: decor.$font-size-medium*$scale;

      div,
      span,
      a {
        display: flex;
        align-items: center;
        margin: 0;
      }

      div.person-stat-card {
        flex-direction: row;
        flex-wrap: wrap;

        padding: 0.3rem 0.7rem;
        border-radius: 7px;
        border: 1px solid decor.$light-4;
        box-shadow: 1px 1px 10px decor.$light-4;
        background: decor.$dark-0;

        .filter-bar {}

        .ord {
          min-width: 2.5rem;
          justify-content: center;
          font-size: decor.$font-size-base*$scale;
        }

        .card-photo {
          $photo-dimens: 2.8rem;

          align-items: center;
          justify-content: center;
          width: $photo-dimens;
          height: $photo-dimens;
          min-width: $photo-dimens;
          min-height: $photo-dimens;
          overflow: hidden;
          border-radius: 50%;

          img {
            display: inline-block;
            width: 100%;
            height: auto;
            object-fit: fill;
            object-position: center;
          }
        }

        .card-name {
          flex: 1;
          padding: 0.3rem 1rem;
        }

        .person-stat {
          gap: 0.5rem;
          margin-right: 0.5rem;
          padding: 0.1rem 0.5rem 0.3rem;
          border-radius: 7px;
          border: 1px dashed decor.$light-5;
          font-weight: bold;

          .person-quant {
            color: decor.$dark-3;
          }

          .person-rank {
            color: decor.$dark-4;
          }
        }
      }
    }

    .person-stat-list-tiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      margin: 1rem 0 0;
      font-size: decor.$font-size-medium*$scale;

      div,
      a {
        display: block;
        text-align: center;
      }

      div.person-stat-card {
        flex-direction: row;
        padding: 0.1rem 0.3rem 0.4rem;
        width: 7.5rem*$scale;
        height: auto;
        border-radius: 10px;
        border: 1px solid decor.$light-4;
        box-shadow: 1px 1px 10px decor.$light-4;
        background: decor.$dark-0;

        .filter-bar {
          display: inline-block;
          box-sizing: border-box;
        }

        .ord {
          width: 60%;
          text-align: right;
          display: inline-block;
          box-sizing: border-box;
          font-size: decor.$font-size-base*$scale;
        }

        .card-photo {
          $photo-dimens: 6rem;

          display: flex;
          align-items: center;
          margin: 0 auto;
          width: $photo-dimens;
          height: $photo-dimens;
          min-width: $photo-dimens;
          min-height: $photo-dimens;
          overflow: hidden;
          border-radius: 50%;

          img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: fill;
            object-position: center;
          }
        }

        .card-name {
          align-content: center;
          padding: 0.2rem 0;
          height: 2rem;
          font-size: decor.$font-size-base*$scale;
          line-height: 0.9rem;
        }

        .person-stat {
          display: flex;
          gap: 0.5rem;
          padding: 0 0.5rem 0.1rem;
          justify-content: center;
          justify-self: center;
          border-radius: 7px;
          border: 1px dashed decor.$light-5;
          font-weight: bold;

          .person-quant {
            color: decor.$dark-3;
          }

          .person-rank {
            color: decor.$dark-4;
          }
        }
      }
    }

    a.filter-item {
      display: inline-block;
      justify-content: center;
      padding: 0 0.3rem 0 0.4rem;
      border-radius: 12px;
      background: decor.$dark-3;
      color: decor.$light-0;
      font-size: decor.$font-size-base*$scale;
      letter-spacing: 0.5px;

      &:hover {
        background: decor.$light-0;
        color: decor.$dark-3;
        text-decoration: none;
      }
    }

    .fitler-table-wrapper {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      align-items: center;
      width: 100%;
      margin: -0.5rem 0 0.5rem 0;
      padding: 0;
      box-sizing: border-box;

      row-gap: 0.5rem*$scale;
      column-gap: 0.6rem*$scale;

      a {
        display: inline-block;
        align-content: center;
        height: 1.4rem*$scale;
        padding: 0 0.7rem;
        font-weight: 600;
        font-size: decor.$font-size-medium*$scale;
      }
    }

    .current-filter-wrapper {
      display: flex;
      flex-direction: row;
      gap: 0.7rem;
      margin: -0.3rem 0 0 0;
      padding: 0 0 0.7rem;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;

      .current-filter-label {
        margin: 0;
      }

      .current-filter-value {
        margin: 0;
        color: decor.$light-3;
        font-size: decor.$font-size-medium*$scale;
        font-weight: bold;
      }

      button.clear-filter {
        margin: 0.1rem 0 0;
        padding: 0 0.5rem;
        border-radius: 12px;
        border: 0;
        background: decor.$dark-4;
        color: decor.$light-0;
        font-size: decor.$font-size-base*$scale;
        font-weight: 600;

        &:hover {
          border: 0;
          background: decor.$light-0;
          color: decor.$dark-4;
        }
      }
    }
  }

  @media screen and (max-width: 660px) {

    .search-head {
      padding-left: 0.5rem;
    }
  }
}