@use "../decor" as decor;

@mixin main-container($margin-vert, $margin-horiz, $padding-vert, $padding-horiz) {
    .main-container {
        background: decor.$light-0;
        margin: $margin-vert $margin-horiz;
        padding: $padding-vert $padding-horiz;
        min-width: 30rem;
        max-width: 90rem;
    }
}