@use "../decor" as decor;

@mixin rating($scale: 1) {

  button,
  select {
    margin: 0 auto;
    width: 4.4rem*$scale;
    height: 1.5rem*$scale;
    border-radius: 3px;
    font-weight: bold;
    font-size: decor.$font-size-medium*$scale;
  }

  button.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.1rem;
    background: decor.$light-4;
    color: decor.$dark-0;
    border: 2px solid decor.$light-4;

    &:hover {
      border: 2px solid decor.$light-4;
      background: decor.$dark-0;
      color: decor.$light-4;
    }
  }

  .change-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    padding: 0.3rem 0;
    margin: 0.3rem 0 0 0;
    background: decor.$dark-9;

    select {
      padding: 0 0 0 0.6rem;
      border: 2px solid decor.$light-4;
    }

    button.change-eval {
      border: 1px solid decor.$light-0;
      background: decor.$dark-5;
      color: decor.$light-0;

      &:hover {
        border: 2px solid decor.$dark-5;
        background: decor.$light-0;
        color: decor.$dark-5;
      }
    }

    button.remove {
      margin-top: 1.5rem;
      border: 1px solid decor.$light-0;
      background: decor.$dark-4;
      color: decor.$light-0;

      &:hover {
        border: 2px solid decor.$dark-4;
        background: decor.$light-0;
        color: decor.$dark-4;
      }
    }
  }

  .eval-date-text {
    margin: 0.4rem 0 0;
    padding: 0.2rem 0;
    text-align: center;
    border-top: 1px solid decor.$light-5;
    color: decor.$light-0;
    font-size: decor.$font-size-base*$scale;
    font-style: italic;
  }
}