// Font size variables
$font-size-base: 10pt;
$font-size-large: 15pt;
$font-size-medium: 12pt;
$font-size-small: 8pt;

// Color variables
$light-0: #fff;
$light-1: #ff0;
$light-2: #ffc684; // not used
$light-3: #22ff3c;
$light-4: #0df; 
$light-5: #ffdc2f;

$medium-1: #ccc;
$medium-2: #aaa;
$medium-3: #888;

$dark-0: #000;
$dark-1: #249;
$dark-2: #c34;
$dark-3: #37d;
$dark-4: #f44;
$dark-5: #e62;
$dark-6: #30f;
$dark-7: #46c;
$dark-8: #222;
$dark-9: #444;
$dark-10: #111;

// Statistics categories colors
$color-year: $dark-4;
$color-decade: $dark-5;
$color-genre:  #b4b;
$color-country: #4b4;
$color-lang: #ed0;

$link: $dark-3;
$light-link: $light-4;
$dark-link: $dark-1;
$active: $dark-1;
$hover: $dark-3;
$visited: $dark-6;

$error: #ff0000;
$error-lt: #ff3f3f;
$success: #226633;