// Color variables
$light-0: #fff;
$light-1: #ff0;
$light-2: #ffc684;
$light-3: #d8e1f0;
$light-4: #ffefcc;
$light-5: #ffdc2f;
$light-link: #0df;

$medium-1: #ccc;
$medium-2: #aaa;
$medium-3: #888;

$dark-0: #000;
$dark-1: #249;
$dark-2: #c34;
$dark-3: #37d;
$dark-4: #e44;
$dark-5: #f17825;
$dark-6: #30f;
$dark-7: #46a;
$dark-8: #111;
$dark-9: #555;

$link: $dark-1;
$active: $dark-1;
$hover: $dark-3;
$visited: $dark-6;

$error: #ff0000;
$error-lt: #ff3f3f;
$success: #226633;

// Font size variables
$font-size-base: 10pt;
$font-size-large: 15pt;
$font-size-medium: 12pt;
$font-size-small: 8pt;
