@use "decor" as decor;
@use 'sass:math';
@use "components";

@media screen and (min-width: 100px) {
  $scale: 0.9;
  @include components.general-page-parts(decor.$light-0, $scale);
  @include components.table-container($scale);
  @include components.film-page($scale);
  @include components.eval-page($scale);
}

@media screen and (min-width: 660px) {
  $scale: 1;
  @include components.general-page-parts(decor.$light-0, $scale);
  @include components.table-container($scale);
  @include components.film-page($scale);
  @include components.eval-page($scale);
}

@media screen and (min-width: 1080px) {
  $scale: 1.1;
  @include components.general-page-parts(components.$dark-7, $scale);
  @include components.table-container($scale);
  @include components.film-page($scale);
  @include components.eval-page($scale);
}

@media screen and (min-width: 2400px) {
  $scale: 1.2;
  @include components.general-page-parts(components.$dark-7, $scale);
  @include components.table-container($scale);
  @include components.film-page($scale);
  @include components.eval-page($scale);
}